app/                                    @jonathandarwin
domain/                                 @jonathandarwin
data/                                   @jonathandarwin
build.gradle                            @jonathandarwin
gradle.properties                       @jonathandarwin
settings.gradle                         @jonathandarwin
README.md                               @jonathandarwin